<app-menu></app-menu>
<div class="container">
	<br>
	<br>
		<h2 class="w3-center">Classement général</h2>
	<div class="row">

		<table class="points_table">
			<thead>
				<tr>
					<th class="col-xs-1">Rang</th>
					<th class="col-xs-4">Nom</th>
					<th class="col-xs-2">Victoires</th>
					<th class="col-xs-2">Points</th>
					<th class="col-xs-3">Actions</th>
				</tr>
			</thead>

			<tbody class="points_table_scrollbar">
				<tr class="odd" *ngFor="let user of utilisateurs;let i = index;">
					<td class="col-xs-1">{{i+1}}</td>
					<td class="col-xs-4">{{user.prenom}} {{user.nom}}</td>
					<td class="col-xs-2">{{user.__v}}</td>
					<td class="col-xs-2">{{user.points}}</td>
					<td class="col-xs-3"><a class="validButton btn btn-default" (click)="addGroupe()">Ajouter à ma ligue</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
<app-footer></app-footer>
