
<app-header></app-header>


<app-menu></app-menu>
<div class="container">
	<br>
	<br>
		<h2 class="w3-center">Classement général</h2>
	<div class="row">

		<table class="points_table">
			<thead>
				<tr>
					<th class="col-xs-1">Rang</th>
					<th class="col-xs-7">Nom</th>
					<th class="col-xs-1">Victoires</th>
					<th class="col-xs-3">Points</th>
				</tr>
			</thead>

			<tbody class="points_table_scrollbar">
				<tr class="odd" *ngFor="let user of utilisateurs;let i = index;">
					<td class="col-xs-1">{{i+1}}</td>
					<td class="col-xs-7">{{user.prenom}}</td>
					<td class="col-xs-1">{{user.nom}}</td>
					<td class="col-xs-3">{{user.points}}</td>
				</tr>
			</tbody>
		</table>
