<app-header></app-header>

<!-- Navbar -->
<app-menu></app-menu>
<br>
<br>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
 
    
    <!-- Middle Column -->
    <div class="w3-col m9">
      <div class="w3-container w3-card w3-white w3-round w3-margin "><br>
        
        <app-cadre-match-accueil></app-cadre-match-accueil>

    <!-- End Middle Column -->
    </div>
</div>
    
    <!-- Right Column -->
    <div class="w3-col m3">

    	<div class="w3-card w3-round w3-white w3-center" >
        <div class="w3-container">
        	<p><b>Mes derniers Pronostics</b></p>
          <p><i class="fa fa-check w3-green"></i></p>
          <p><i class="fa fa-check w3-green"></i></p>
          <p><i class="fa fa-close w3-red"></i></p>
         
        </div>
      </div>
      <br>


      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <app-mini-classement-accueil></app-mini-classement-accueil>
        </div>
      </div>
      <br>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->

<app-footer></app-footer> 

