
        <div class="col-sm-3">
      <br>
            <br>
            <p>FRANCE - ALLEMAGNE</p>
            <p> 22/06/2018 </p>
            <form action="pronostic.html">
                <input type="submit" value="Pronostiquer" class ="btn btn-default btn-sm"/>
              </form>    
    </div>


    <div class="col-sm-3"> 
       <br>
            <br>
            <p>PORTUGAL - CROATIE</p>
            <p> 23/06/2018 </p>
            <form action="pronostic.html">
                <input type="submit" value="Pronostiquer" class ="btn btn-default btn-sm"/>
            </form>
      </div>


    <div class="col-sm-3"> 
       <br>
            <br>
            <p>ANGLETERRE - BRÉSIL</p>
            <p> 25/06/2018 </p>
            <form action="pronostic.html">
                <input type="submit" value="Pronostiquer" class ="btn btn-default btn-sm"/>
            </form>
          </div>
    <div class="col-sm-3">
      <br>
            <br>
            <p>ALGERIE - TOGO</p>
            <p> 26/06/2018 </p>
            <form action="pronostic.html">
                <input type="submit" value="Pronostiquer" class ="btn btn-default btn-sm"/>
            </form>
    </div>
