    <div class="w3-card w3-round w3-center" style="padding-bottom:20px;" >
        <div class="w3-container">
            <div class="col-sm-3" *ngFor="let match of rencontres">
              <br>
                    <br>
                    <table class="cadreMatch w3-center">
                        <tr>
                            <td class="w3-center"><img src="../../assets/petite{{match.equipe1_id.drapeau}}"></td>
                            <td>&nbsp;</td>
                            <td class="w3-center"><img src="../../assets/petite{{match.equipe2_id.drapeau}}"></td>
                        </tr>
                        <tr>
                            <td class="w3-center">{{match.equipe1_id.nom}}</td>
                            <th class="w3-center">{{match.goals1}} - {{match.goals2}}</th>
                            <td class="w3-center">{{match.equipe2_id.nom}}</td>
                        </tr>
                        <tr>
                            <td colspan="3">Le {{match.date | date:"dd/MM/yyyy 'à' h:mm" }}</td>
                        </tr>
                        <tr>
                            <th class="w3-center" colspan="3">
                            <a [href]="createUrl('/prono/',match._id)" class ="btn btn-default btn-sm">Pronostiquer</a>
                            <!-- <button (click)="goToProno(match._id)" class ="btn btn-default btn-sm">Pronostiquer</button> -->
                            </th>
                        </tr>
                    </table>   
            </div>
        </div>
    </div>

      
 
